{% load staticfiles %}

<!doctype html>
<html>
    <head>
        <title>{% block title %}
         FreeShelf
        {% endblock title %}<!-- we want to override page titles -->
        </title>
       
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    
   
    </head>

<body> 
    
<!-- as well as override content bits -->
{% block header %}
        <header>
                    <h1>FreeShelf</h1> 
                    <h2>Free Books Of Fiction Online</h2> 
        </header>

    
             <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li> 
                    

                    <p>(link to suggestions page)</p>

                
             
                
            </nav>
  
       
    


{% endblock header %}

{% block content %}
{% endblock content %}


  
    
    {% block footer %}
    
    {% endblock footer %}
    
    </body>
</html>