{% load staticfiles %}

<!doctype html>
<html>
    <head>
        <title>{% block title %}
         FreeShelf
        {% endblock title %}<!-- we want to override page titles -->
        </title>
       
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    
   
    </head>

<body> 
    
<!-- as well as override content bits -->
{% block header %}
        <header>
                    <h1>FreeShelf</h1> 
                    <h2 class="caption">Free Books Of Fiction Online</h2> 
        </header>

    
             <nav>
                
        <a href="{% url 'home' %}">Home</a>
                   
                   
                    {% if user.is_authenticated %}
                   
                        <a href="{% url 'auth_logout' %}">Logout</a>
                    {% else %}
                   
                        <a href="{% url 'auth_login' %}">Login</a> 
                    
                        <a href="{% url 'registration_register' %}">Register</a>
                    {% endif %}

                     <a href>Suggest a book!</a>

                
             
                
            </nav>
  
       
    


{% endblock header %}

{% block content %}
{% endblock content %}


  
    
    {% block footer %}
    
    {% endblock footer %}
    
    </body>
</html>