
{% extends 'base.html' %}

<!doctype html>
<html>

{% load staticfiles %}

{% block title %}

    Homepage - {{ block.super }}

{% endblock title %}

{% block content %}
    
    



  <div class="main">
    
        
        <p class="tagline">Welcome to our online library of free fiction books!</p>
        
        <p class="thanks"> We thank the authors for providing these book resources for free, on behalf of all our readers</p> 
         
        <p>Browse through the books we've listed. You can search by categories, alphabet, book name or author, as you please!</p>
        {% comment %} <a href="{% url 'browse' %}"> <p>Browse </a> {% endcomment %}
        <p>Do comment on the usefulness of the books on their invidivual pages and if you don't like them, please do ensure the criticism is constructive. And don't forget to mark your favorites!</p>

    </div>


        <p class="recent">Most recent books</p>
        <div class="cats">
                
            
                    
                    {% for category in categories %}
                <a href="{% url 'category_more' slug=category.slug %}"> 
                            {{ category.title }}</a>

                    

                    {% endfor %}
            </div>
      {% for book in books %}
   
    <p class="heading"><a href="{% url 'book_detail' slug=book.slug %}">
        {{ book.name }}

        </a></p>
    <h3>{{ book.author }} </h3>
 
    <p class="text">{{ book.description }}</p>
   
    <p>{{ book.category }}</p>
    <a href="{{ book.url }}">Link to the book online</a>
    
   

    {% if book.picture.url %}
        <img  src="{{ book.picture.url }}" hspace='40' vspace='40' width='250px' height='350px'/>
    {% endif %}

     {% endfor %}

{% endblock content %}  

</html>