{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}

    Homepage - {{ block.super }}

{% endblock title %}

{% block content %}

   
    <p class="heading">{{ book.name }}</p>
    <h2>{{ book.author }}</h2>
    <h3>{{ book.category }}</h3>
    <p>{{ book.description }}</p>
    
    {% if book.picture.url %}
        <img  src="{{ book.picture.url }}" alt="{{ book.name }}" "{{ book.description }}">
    {% endif %}
    
    {% comment %} {% if user == book.user %} <p> {% endcomment %}


    <a href="{% url 'comment_book' slug=book.slug %}"> Your comments:
    </a>

    {% comment %} {% endif %}
     {% endcomment %}
   
     

{% endblock content %}  