header {
    
    background: url("http://images.clipartpanda.com/library-clipart-14002036-clipart-of-wooden-bookshelf-with-books--Stock-Vector-library.jpg");
}


h1 {
    
    color: ivory;
    font-family: BlinkMacSystemFont;
   
    font-weight: Bold;
    font-size: 50px;
    width: 250px;
    height: 70px;
    padding: 2rem;
    text-align: center;
    
    
}

h2 {

    color: ivory;
    font-family: Arial;
    font-style: italic;
    padding-top: 0;
    padding-left: 2rem;
    padding-bottom: 2rem;
    

}

body {

    background-color: rgb(250, 232, 209);
    margin: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;

}

.main {

    padding: 2rem;
    border-color: darkred;
    border-width: 1px;
    border-style: solid;

}
.text {

    font-family: cursive;
    color: rgb(73, 22, 174);

}
.tagline {

    font-weight: Bold;
    color: teal;
    font-family: Fantasy;
    font-size: 25px;


}

.heading{
    
    color: rgb(225, 225, 216);
    font-family: 'Arial Narrow Bold';
    font-style: normal;
    font-size: 25px;
    
    padding-top: 1.5rem;


}
.recent {
    color: maroon;
    font-size: 30px;

}